@font-face {
  font-family: font1;
  src: url(./fonts/FoundersGrotesk-Bold.otf);
}
@font-face {
  font-family: font2;
  src: url(./fonts/ActionSans-Medium.otf);
}


body {
  margin: 0;
  font-family:font1,font2, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(to bottom, #1A074E 0%, #060213 100%);

background-size: cover;
}

code {
  font-family:font1,font2, source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
