

.footer_body {
    font-family: sans-serif;
    font-size: 1.6rem;
    background-color: #1E1E1E;
    display: flex;
    flex-direction: column;
}
i {
    font-size: 2.4rem;
}
.footer {
    padding-block: 5rem;
    background-color: #1A074E;;
    color: white;
}
.footer__container {
    max-width: 116rem;
    margin: auto;
    padding: 0 1.5rem;
}
.terms_conatiner{
    position: relative;
    top:5rem;
    background-color: #D9D9D9;
}
.input_pass{
    width: 330px;
    height: 60px;
    border-color: black ;
    box-shadow: 9px 9px 3px 2px black;
    box-shadow: 8px 8px 2px 1px  #736B1F;
    padding-left: 24px;
}
@media (max-width: 800px){
    .footer__top{
       display: flex;
       flex-direction: column;
    }
    }
.footer__top {
    display: flex;
    justify-content: space-between;
    row-gap: 2rem;
}
.footer__title {
    font-size: 1.5rem;
    color: #fff;
    font-weight: 700;
   
}
.input_pass5{
    width: 330px;
    height: 60px;
    border-color: black ;
    box-shadow: 9px 9px 3px 2px black;
    box-shadow: 8px 8px 2px 1px  #736B1F;
    padding-left: 24px;
}
.brrr{
    display: flex;
    flex-direction: row;
}
.footer__title2{
    font-size: 1.5rem;
    color: #fff;
    font-weight: 700;
   margin-top: 1.5rem; 
}
.footer__list-item1{
    background-color: #736B1F;
    position:absolute;
    left:111.9rem;
    border: black;
    border-style: solid;
    top:38.3rem;
    width: 22.5rem;
    height: 4.3rem;
}
.right_footer{
    display: flex;flex-direction: column;justify-content: space-around;
}
.dontmissmagic{
  
    color: #fff;
    font-weight: 700;
    font-family: 'Founders Grotesk';
    font-style: normal;
    font-size: 2.5rem;
    letter-spacing: -0.02em;
    margin-left: 2rem;
    white-space: nowrap;
    color: #F0E266;
}
.signup {
    text-decoration: none;
    color: inherit;
    transition: color .25s;
    font-family: 'Action Sans';
font-style: normal;
font-weight: 400;
position: relative;
top: 1rem;
font-size: 1.25rem;

letter-spacing: -0.02em;



color: #F0E266;
}
.footer__list {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-top: 2rem;
}
.footer__list2 {
    display: flex;
    flex-direction: column;
    gap: 2rem;
   
}
.footer__list-item {
    list-style: none;
    white-space: nowrap;
}
.terms_items{
    font-family: 'Action Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 13.5px;
    line-height: 1.7rem;
   
    
    letter-spacing: -0.02em;
    
    color: #1C1C1C;
    padding-left: 18rem;
    padding-right: 18rem;
    
}

.footer__list-link:hover {
    color: #fff;
}

.company__info {
    display: flex;
    gap: 1.5rem;
}
.company__logo{
    width: 100%;
}
.company__info_text{
padding: 20px;
}
