.side_box{

    padding-top: 12.5rem;
}
.euro{
    padding-left: 9.375rem;
    padding-right: 9.375rem;
}
.submit_contactus{
    padding-top: 1rem;
}
.contact_us{
    overflow-x: hidden;  margin-top: 12.5rem;
}
.name{
    display: flex;
    flex-direction: column;
}
.hello{
    font-family:  sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 4.25rem;
    display: flex;
    align-items: center;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    color: #FC97D9;
    text-decoration: none;
    margin-bottom: 6.25rem; 
    
}
.first_name{
    height: 3.125rem;
    width: 21.5rem;
    margin-right: 0.625rem;
}
.last_name{
    height: 3.125rem;
    width: 21.5rem;
}
.mail_input{
    width: 43.75rem;
    height: 3.25rem;
    margin-top: 1.625rem;
}
.con{
    color: white;
}
.levi{
    height: 3.125rem;
    width: 44rem;
}
.mikasa{
    font-family: 'Action Sans';
    font-style: normal;
    font-weight: 20;
    font-size: 0.875rem;
    line-height: 1rem;
    color:  #FAF9FF;
    
}
.aot{
    margin-bottom: 1.25rem;
}
.Eren{
    margin-top: 0.938rem;
    width: 44rem;
    height: 7.375rem;
}
.submit{
    margin-top: 1.7rem;
    display: flex;
    flex-direction: row;
    width: 12rem;
    height: 5.25rem;
    background: #F0E266;
    font-weight: 700;
    font-size: 24px;
    color: #000;
    font: 'Sans-Serif';
    border-color: #000;
    box-shadow:  8px 8px 2px 1px #736B1F;
}
.saitama{
    margin-top: 1rem;
    margin-left: 2.938rem;
}
input {
    
    margin: 0 ;
  }

label {
    display: flex;
    align-items: center;
    margin: 0 auto;
  }

select {
    margin-bottom: 10px;
    margin-top: 10px;
  }
