/* .Body7{
    background-image: linear-gradient(to bottom, #1A074E 0%, #060213 100%);
    
  } */
  /* body{
    background-image: linear-gradient(to bottom, #1A074E 0%, #060213 100%);
  } */
  
  /* @font-face {
      font-family: Founders Grotesk;
      src: url(FONTS/Test\ Founders\ Grotesk\ Bold\ 700.otf);
  
  }
  @font-face {
      font-family: Action Sans;
      src: url(FONTS/ActionSans-Regular.otf);
  
  } */
  
  
 html {
    padding: 0;
    margin: 0;
    min-height: 162%;
    overflow-x: hidden; 
  }
   
   
  
   .Pinfo {
    position: absolute;
    left: 162px;
    top: 235px;
    margin:0;
    font-family: Founders Grotesk;
    font-style: normal;
    font-weight: 700;
    font-size: 48px;/*Sizing*/
     color: #DDF140;
    line-height: 16px;
    display: flex;
    letter-spacing: 0.2px;
  text-transform: uppercase;
  
  } 
  
  .dabba {
    position: absolute;
    top: 192px;
    left: 120px;
    width: 759.06168px;/*sizing dekhlo*/
    height: 798px;
    border: 1.04418px solid #D4F34A;
    box-sizing: border-box;
  }
  
  .columnbeta {
    float: left;
    width: 33.33%;
    border-width: 1.03084px;
    border-bottom: 0px;
    border-style: solid;
    border-color: #DDF140;
    width: 251px;
    height: 38px;
  
  }
  
  .rowalpha {
    position: absolute;
    top: 154px;
    left: 120px;
  }
  
  .rowalpha:after {
    content: "";
    display: table;
    clear: both;
  }
  .c1{
  display: flex;
  background: #D4F34A;
  justify-content: center;
  align-items: center;
  font-family: Action Sans;
  font-style: normal;
  font-weight: 700;
  font-size: 14.4317px;
  line-height: 14px;
  color: #1A074E;
  letter-spacing: 0.02em;
  
  }
  .c2{
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Action Sans;
  font-style: normal;
  font-weight: 700;
  font-size: 14.4317px;
  line-height: 100%;
  color: #DDF140;
  }
  .c3{
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Action Sans;
  font-style: normal;
  font-weight: 700;
  font-size: 14.4317px;
  line-height: 100%;
  color: #DDF140;
  }
  .pehla{
    position: absolute;
    top: 315px;
    left: 162px;
    display: flex;
    align-items: center;
    flex-direction: row;
    width: 100%;
    height:50px;
    box-sizing: border-box;
    gap:8px;
  }
  .e7{
    position: absolute;
    top: 391px;
    left: 162px;
    height:52px;
    box-sizing: border-box;
    gap:8px;
  }
  .dusra{
  position: absolute;
  top:503px;
  }
  .teesra{
    position: absolute;
    top: 625px;
  }
  input[type=text1]
  {
    margin-right: 8px;
    width:668px;
    padding:12px;
    border: 0;
    font-family: Action Sans;
  
  }
  input[type=text]
  {
    margin-right: 8px;
    width:298px;
    padding:12px;
    font-family: Action Sans;
  }
  p{
    padding:0;
    margin: 0;
  }
  .H21{
    position: absolute;
    top: 480px;
    left: 162px;
    font-family: Action Sans;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  /* or 114% */
  
  letter-spacing: 0.2px;
  text-transform: capitalize;
  
  color: rgba(250, 249, 255, 0.61);
  
  }
  .H31{
    position: absolute;
    top: 599px;
  }
  

  .card7{
  position:relative;
  top:281px;
  left:908px;
  right:120px;
  }
  .alpha{
    position: absolute;
    top: 29px;
    left: 68px;
    font-family: Action Sans;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  /* identical to box height, or 125% */
  display: flex;
  align-items: center;
  letter-spacing: 0.280959px;
  
  color: #1C1C1C;
  }
  .beta{
    position: absolute;
    top: 121.5px;
    left: 42px;
    font-family: 'Action Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  display: flex;
  align-items: center;
  letter-spacing: 0.280959px;
  
  color: rgba(255, 255, 255, 0.39);
  
  }
  .beta1{
    position: absolute;
    top: 170.5px;
  }
  .beta2{
    position: absolute;
    top: 212.5px;
  }
  .beta3{
    position: absolute;
    top:252px;
  }
  .beta4{
    position: absolute;
    top: 289px;
  }
  .beta5{
    position: absolute;
    left:173px ;
  }
  .gamma{
    position: absolute;
    top: 112px;
    left: 148px;
    font-family: Action Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 38px;
  display: flex;
  align-items: center;
  letter-spacing: 0.280959px;
  
  color: #DDF140;
  
  }
  .gamma1{
    position: absolute;
    top: 168px;
    left: 160px;
    font-family: Action Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  display: flex;
  align-items: center;
  letter-spacing: 0.280959px;
  
  color: #757575;
  }
  .gamma2{
    position: absolute;
    top: 210px;
    left: 189px;
  
  }
  .img1{
    position: absolute;
    top: 214.62px;
    left: 914.62px;
  }
  .img2{
    position: absolute;
    left: 976.8px;
  }.img3{
    position: absolute;
    left: 1038.97px;
  }.img4{
    position: absolute;
    left: 1101.14px;
  }
  .Merch
  {
    position: absolute;
    top: 711px;
    left: 162px;
  }
  .Checkout{
    position: absolute;
    top: 656px;
    left: 972px;
  }
  .udgam7{
    position: absolute;
    top: 18.16px;
    left: 335px;
  }
  .delta1{
    position: absolute;
    top: 179px;
    left: 921px;
    font-family: Action Sans;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 100%;
  display: flex;
  align-items: flex-end;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  
  color: rgba(151, 151, 151, 0.77);
  
  }