.tryAgainButton{
    position:relative;
    height:75px;
}
.butpaymentFail {

    box-sizing: border-box;

    /* Auto layout */

    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 20px 64px;
    gap: 8px;

    position: absolute;
    width: 289px;
    height: 64px;
    left: 0px;
    top: 0px;
    z-index: 5;

    /* Yellow 1 */

    background: #F0E266;
    border: 2px solid #000000;
}

.butpaymentFail button {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    width: 147px;
    height: 24px;

    font-family: 'Action Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 100%;
    /* identical to box height, or 24px */

    display: flex;
    align-items: flex-end;
    letter-spacing: 0.02em;
    text-transform: uppercase;

    color: #000000;
}

.boxpaymentFail {
    box-sizing: border-box;

    /* Auto layout */

    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 20px 77px;
    gap: 8px;

    position: absolute;
    width: 288px;
    height: 64px;
    left: 9px;
    top: 7px;
    z-index: 0;

    background: #736B1F;
    border: 2px solid #000000;
}

.paymentFail {
    width: 341px;
    height: 20px;
    font-family: 'Action Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    line-height: 20px;
    /* identical to box height, or 42% */

    display: flex;
    align-items: center;
    letter-spacing: 0.249419px;

    color: #F0F0F0;


    /* Inside auto layout */
    padding: 50px 0;
    flex: none;
    order: 0;
    flex-grow: 0;
}
.paymentFailEntireBox{
    padding-top:  200px;
    padding-bottom: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}
.paymentFailBoxLeft{
    padding: 0 100px;
}
/* .paymentFailBoxRight{
    padding: 0 100px;
} */

.FacedOtherIssueBox{
    display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 50px 0;
gap: 10px;
isolation: isolate;

}
.FacedOtherIssueBox p{
    width: 198px;
height: 24px;

font-family: 'Action Sans';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 23px;
/* identical to box height */

display: flex;
align-items: center;
letter-spacing: 0.280959px;

color: #FFFFFF;
}
.FacedOtherIssueBox svg{
    position: relative;
    width: 25px;
    height: 10px;
    left: -23px;
    top: -8px;
    flex: none;
    order: 1;
    flex-grow: 0;
    z-index: 1;
}


.five_paymentFail{
    display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 8px;
isolation: isolate;
width: 330px;
height: 124px;
left: 120px;
top:0px;
position: relative;
width: 100%;
/* background-color: aqua; */
}

.five_paymentFail p{
    /* width: 330px;
height: 56px; */

font-family: 'Action Sans';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 28px;
/* or 140% */

letter-spacing: -0.02em;

color: rgba(240, 240, 240, 0.59);


/* Inside auto layout */

/* flex: none;
order: 1;
flex-grow: 0;
z-index: 1; */
}

.sq_paymentFail{
    box-sizing: border-box;

/* Auto layout */

display: flex;
flex-direction: row;
align-items: flex-start;
padding: 18px;
gap: 3px;

width: 60px;
height: 60px;

background: #F0E266;
border: 1.5px solid #000000;

/* Inside auto layout */

flex: none;
order: 1;
flex-grow: 0;
}
.row1_paymentFail{
    display: flex;
    flex: none;
order: 2;
flex-grow: 0;
z-index: 2;
}

.sq_paymentFail svg{
    width: 24px;
height: 24px;

/* transform: matrix(-1, 0, 0, 1, 0, 0); */

/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
}


.row1_paymentFail input{
    box-sizing: border-box;

/* Auto layout */

display: flex;
flex-direction: row;
align-items: flex-start;
padding: 21px;
gap: 3px;

width: 270px;
height: 60px;

background: #FFFFFF;
border-width: 1.5px 0px 1.5px 1.5px;
border-style: solid;
border-color: #000000;
/* width: 164px;
height: 18px; */

font-family: 'Action Sans';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 100%;
/* identical to box height, or 18px */

/* display: flex;
align-items: flex-end; */
letter-spacing: 0.02em;

color: #9C9C9C;
}


.six_paymentFail{
    position: absolute;
left: 514px;
top: 0px;
/* background-color: aqua; */
background-image: url("../icons/back1.png");
/* background-size: 987px 1024px; */
}

.boxback_paymentFail{
    /* Auto layout */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 21px;
    gap: 3px;
    position: absolute;
    width: 334px;
    height: 57px;
    left: 7px;
    top: 95px;
    background: #736B1F;
    border: 1px solid #000000;
    flex: none;
    order: 0;
    flex-grow: 0;
    position: absolute;
    z-index: 0;
}



.mailbtnfailParent {
    padding: 0 50px;
    width: 100%;
}

.mailbtnfail {


    background: #1C1C1C;

    width: 335px;
    height: 288px;
    position: relative;

    background: #1C1C1C;

}

.mailbtnfail svg {
    position: absolute;
    left: 63px;
    top: 33px;
}

.mailbtnfail p {
    position: absolute;
    left: 69px;
    right:69px;
    top: 120px;
    text-align: center;
    color: #fff;
}

.lowerDivFailPAge{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


/* @media (max-width :848px)and (mind-widhth:685px){
    .mailbtnfail {
        background: #1C1C1C;
        width: 335px;
        height: 288px;
        top: 39px;
        right: -171px;
        position: relative;
        background: #1C1C1C;
    }
        .lowerDivFailPAge {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }
        .five_paymentFail{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0px;
        gap: 8px;
        isolation: isolate;
        width: 330px;
        height: 124px;
        left: 0px;
        top: 0px;
        position: relative;
        width: 100%;}
} */
@media (max-width :954px)and (min-width:865){
    .mailbtnfail {
        background: #1C1C1C;
        /* width: 280px;
        height: 268px; */
        position: relative;
        top: 63px;
        right: -265px;
        background: #1C1C1C;}

        .paymentFailEntireBox {
            padding-top: 200px;
            padding-bottom: 50px;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-content: center;
            align-items: center;
        }

        .lowerDivFailPAge {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }
        .five_paymentFail{
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 0px;
            gap: 8px;
            isolation: isolate;
            width: 330px;
            height: 124px;
            left: 0px;
            top: 0px;
            position: relative;
            width: 100%;
        }
        
}


@media (max-width: 1120px)and (min-width:963px){
   

    body{
        margin: 0;
        font-family: var(--bs-body-font-family);
        font-size: var(--bs-body-font-size);
        font-weight: var(--bs-body-font-weight);
        line-height: var(--bs-body-line-height);
        color: var(--bs-body-color);
        text-align: var(--bs-body-text-align);
        background-color: var(--bs-body-bg);
        -webkit-text-size-adjust: 100%;
        -webkit-tap-highlight-color: transparent;
    }

    .paymentFailBoxRight {
        padding: 0 43px;
    }

    .mailbtnfailParent {
        padding: 0 50px;
        width: 60%;
    }
} 
@media (max-width: 1244px)and (min-width:1120px){
    .five_paymentFail {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 0px;
        gap: 8px;
        isolation: isolate;
        width: 330px;
        height: 124px;
        left: 233px;
        top: 0px;
        position: relative;
        width: 100%;
        /* background-color: aqua; */
    }
}


@media (max-width: 1300px)and (min-width:1224px){
    .five_paymentFail {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 0px;
        gap: 8px;
        isolation: isolate;
        width: 330px;
        height: 124px;
        left: 265px;
        top: 0px;
        position: relative;
        width: 100%;
        /* background-color: aqua; */
    }
}

@media (max-width: 1530px)and (min-width:1300px){
    .mailbtnfail {
        background: #1C1C1C;
        width: 335px;
        height: 288px;
        right: -69px;
        position: relative;
        background: #1C1C1C;
    }
    .five_paymentFail {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 0px;
        gap: 8px;
        isolation: isolate;
        width: 330px;
        height: 124px;
        left: 374px;
        top: 0px;
        position: relative;
        width: 100%;
        /* background-color: aqua; */
    }
}
@media (min-width: 1725px){
   

    .five_paymentFail {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 0px;
        gap: 8px;
        isolation: isolate;
        width: 330px;
        height: 79px;
        left: 522px;
        top: 0px;
        position: relative;
        width: 100%;
        
    }
    .mailbtnfail {
        background: #1C1C1C;
        width: 302px;
        height: 288px;
        position: relative;
        left: 78px;
        background: #1C1C1C;
    }
} 



@media (max-width: 1720px )and (min-width:1400px){
    .five_paymentFail {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 0px;
        gap: 8px;
        isolation: isolate;
        width: 330px;
        height: 124px;
        left: 403px;
        top: 0px;
        position: relative;
        width: 100%;
        
    }
}
