

.footer_body {
    font-family: sans-serif;
    font-size: 1.6rem;
    background-color: #1E1E1E;
}
i {
    font-size: 2.4rem;
}
.footer {
    padding-block: 5rem;
    background-color: #1A074E;;
    color: white;
}
.footer__container {
    max-width: 116rem;
    margin: auto;
    padding: 0 1.5rem;
}
.terms_conatiner{
    position: relative;
    top:5rem;
    background-color: #D9D9D9;
}

.footer__top {
    display: grid;
    grid-template-columns: 
    repeat(auto-fit, minmax(20rem, 1fr));
    row-gap: 2rem;
}
.footer__title {
    font-size: 1.5rem;
    color: #fff;
    font-weight: 700;
   
}
.footer__title1{
    font-size: 1.5rem;
    color: #fff;
    font-weight: 700;
   margin-top: 1.5rem; 
}
.footer__list-item1{
    background-color: #736B1F;
    position:absolute;
    left:111.9rem;
    border: black;
    border-style: solid;
    top:38.3rem;
    width: 22.5rem;
    height: 4.3rem;
}
.footer__title2{
  
    color: #fff;
    font-weight: 700;
    margin-top: 2rem; 
    font-family: 'Founders Grotesk';
    font-style: normal;
    font-size: 2.5rem;
    line-height: 24px;
    letter-spacing: -0.02em;
    margin-left: 2rem;
    white-space: nowrap;
    color: #F0E266;
}
.footer__list {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-top: 2rem;
}
.footer__list2 {
    display: flex;
    flex-direction: column;
    gap: 2rem;
   
}
.footer__list-item {
    list-style: none;
    white-space: nowrap;
}
.terms_items{
    font-family: 'Action Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 13.5px;
    line-height: 24px;
   
    
    letter-spacing: -0.02em;
    
    color: #1C1C1C;
    padding-left: 18rem;
    padding-right: 18rem;
    
}
.footer__list-link {
    text-decoration: none;
    color: inherit;
    transition: color .25s;
    font-family: 'Action Sans';
font-style: normal;
font-weight: 400;
position: relative;
top: 1rem;
font-size: 1.25rem;
line-height: 2rem;

letter-spacing: -0.02em;



color: #F0E266;
}
.footer__list-link:hover {
    color: #fff;
}

.company__info {
    grid-column: 1/-1;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding-right: 5rem;
    padding-left: rem;
}
.company__info2 {
    
    grid-column: 1/-1;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding-right: 5rem;
}
.udgam_info{
    gap: 1.5rem;
    flex-direction: row;
    
}
p.company__description{
    color: white ;
    font-size: 1.25rem;
}
.company__logo {
    color: #fff;
}
.company__info ul {
    flex-direction: row;
}
.copyright {
    margin-top: auto;
}
.vect_img{
    position: relative;
    top: 1.85rem;
}
input{
    width: 18.5rem;
    height: 4.35rem;
    border-style: solid;
    border-color: black;
}
@media screen and (min-width: 40em) {
    .company__info {
        grid-column: span 2;
    }
}