.gon{
    height: 324px;
    width: 414px;    
    font-family: 'Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 96px;
    letter-spacing: -0.02em;
    color: #FFFFFF;
    margin-top: 20px;
    margin-left: 25px;
}
.nav-right{
    float: right;
}

.humnav{
    color: #FFFFFF;
    text-decoration: none;
    cursor: pointer;
    text-align: left;
}
.humnav:hover{
    color: #b2b2b2;
    text-decoration: none;
}

.biro{
    padding-left: 150px;
    padding-right: 150px;
}

.humburg{
    background-image: linear-gradient( #060213, #060213);
    overflow-x: hidden;
    -ms-overflow-style: none;  
    scrollbar-width: none;
    padding-top: 100px;
}
.netero{
    flex-direction: column;
    text-decoration: none;
    margin-top: 100px;
    margin-right: 30px;
    font-family: 'Action Sans';
    font-style: normal;
    font-weight: 300;
    font-size: 36px;
    line-height: 40px;
    letter-spacing: -0.02em;
    color: #FFFFFF;

}

.Kite{
    font-family:  sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    display: flex;
    align-items: center;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    color: #FC97D9;
    text-decoration: none;
    margin-bottom: 50px;
    
}
.Among_Us{
    font-family: 'Sans-Serif';
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: -0.02em;
    color: #FFFFFF;
    margin-top: 45px;
    }
.CoC{
    font-family: 'Action Sans';
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: -0.02em;
    color: #FFFFFF;
    margin-top: 120px;
}
.blob{
    margin-top: 100px;
}
.input_pass{
    width: 330px;
    height: 60px;
    border-color: black ;
    box-shadow: 9px 9px 3px 2px black;
    box-shadow: 8px 8px 2px 1px  #736B1F;
    padding-left: 24px;
}

/* The Overlay (background) */
.overlay {
    /* Height & width depends on how you want to reveal the overlay (see JS below) */   
    height: 0%;
    width: 100%;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    background-color: rgb(0,0,0); /* Black fallback color */
    background-color: rgba(0,0,0, 0.9); /* Black w/opacity */
    overflow-x: hidden; /* Disable horizontal scroll */
    overflow-y: scroll;
    box-sizing: content-box;
    padding-right: 17px;
    transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
  }
  
  
  
  @media (max-width: 600px){
.nav-right{
    float: left;
    margin-left: 25px;
}
}